* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo-section {
    text-align: left;
}

.logo {
    max-width: 120px;
    border-radius: 75px;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    background-color: #e70101;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e70d0d;
}

.no-account {
    text-align: center;
    margin-top: 15px;
}

.no-account a {
    color: #e90909;
    text-decoration: none;
}

.no-account a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
