<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="css/log-in-html.css">
</head>
<body>
    <header>
        <div class="logo-section">
            <img src="logo.png" alt="Logo" class="logo">
        </div>
    </header>

    <main>
        <div class="login-section">
            <h2>Iniciar sesión</h2>
            <form action="/log_in" method="POST">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" required><br>
        
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required><br>
                <button type="submit">Iniciar sesión</button>
            </form>
            <div class="no-account">
                <p>¿No tienes una cuenta? <a href="solicitar-cuenta.html">Envíanos un correo electrónico</a></p>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2024 Instituto de Tecnología Avanzada. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
